@model List<CategoryDTO>
@{
	Layout = "_DashboardLayout";
}

<div class="d-flex justify-content-between">
	<span class="mt-2" style="font-family: sans-serif; font-size: 24px">Kategoriler</span>
	<a class="btn btn-outline-success mt-auto" href="/Entities/Category/CreateCategory"><i class="fa-solid fa-circle-plus fa-lg"></i> Kategori Ekle</a>
</div>
<hr />
<div>


	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Kategori Adı</th>
				<th>Açıklaması</th>
				<th>Seçenekler</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model as List<CategoryDTO>)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>
						<a class="btn btn-outline-warning" href="/Entities/Category/UpdateCategory/@item.Id" style=" margin-right: 8px"><i class="fa-solid fa-repeat fa-lg"></i> Güncelle</a>
						<a id="@item.Id" class="btn btn-outline-danger" href="/Entities/Category/DeleteCategory/@item.Id"><i class="fa-solid fa-trash fa-lg"></i> Sil</a>
					</td>
				</tr>

			}

		</tbody>
	</table>
</div>
@foreach (var item in Model as List<CategoryDTO>)
{
<script>
	document.getElementById("@item.Id").onclick = function confirmDelete(e) {
		e.preventDefault();
		return Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, delete it!'
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire(
					'Deleted!',
					'Your file has been deleted.',
					'success'
				)
					window.location.href = "/Entities/Category/DeleteCategory/@item.Id";
			}
		});
	}
</script>
}