@model DealerStockDTO
@{
    ViewData["Title"] = "CreateStock";
    Layout = "_DashboardLayout";
}

<div>
    <form method="post">
        <span class="errorMessage" asp-validation-for="DealerId"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Bayii</span>
            <select class="form-select" asp-for="DealerId" class="form-control">
                @foreach (var dealer in ViewBag.Dealers as IEnumerable<DealerModel>)
                {
                    <option value="@dealer.Id">@dealer.Name</option>
                }
            </select>
        </div>
        <span class="errorMessage" asp-validation-for="ProductId"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Ürün</span>
        <select class="form-select " asp-for="ProductId" class="form-control">
            @foreach (var product in ViewBag.Products as IEnumerable<ProductModel>)
            {
                <option value="@product.Id">@product.ProductName</option>
            }
        </select>
        </div>
        <span class="errorMessage" asp-validation-for="Amount"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Miktar</span>
            <input type="number" class="form-control" asp-for="Amount" />
        </div>
        <span class="errorMessage" asp-validation-for="MinimumAmount"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Minimum Miktar</span>
            <input type="number" class="form-control" asp-for="MinimumAmount" />
        </div>
        <span class="errorMessage" asp-validation-for="Cost"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Maliyet Ücreti</span>
            <input type="number" class="form-control" asp-for="Cost" />
        </div>
        <span class="errorMessage" asp-validation-for="SalesPrice"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Satış Ücreti</span>
            <input type="number" class="form-control" asp-for="SalesPrice" />
        </div>
        <span class="errorMessage" asp-validation-for="SupplierId"></span>
                <div class="input-group mb-3">
            <span class="input-group-text">Tedarikçi</span>
        <select class="form-select " asp-for="SupplierId" class="form-control">
                @foreach (var supplier in ViewBag.Suppliers as IEnumerable<SupplierModel>)
                {
                    <option value="@supplier.Id">@supplier.CompanyName</option>
                }
        </select>
        </div>
        <button class="btn btn-outline-success" type="submit">Kaydet</button>
    </form>
</div>

