@model OrderDto
@{
    ViewData["Title"] = "CreateOrder";
    Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}
<div>
    <form method="post">
        <span class="errorMessage" asp-validation-for="DealerId"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Bayii</span>
            <select class="form-select" asp-for="DealerId" class="form-control">
                @foreach (var dealer in ViewBag.Dealers as IEnumerable<DealerModel>)
                {
                    if (dealer.State != EntityState.Deleted)
                    {
                        <option value="@dealer.Id">@dealer.Name</option>
                    }
                }
            </select>
        </div>
        <span class="errorMessage" asp-validation-for="EmployeeId"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Çalışan</span>
            <select class="form-select " asp-for="EmployeeId" class="form-control">
                @foreach (var employee in ViewBag.Employees as IEnumerable<EmployeeModel>)
                {
                    if (employee.State != EntityState.Deleted)
                    {
                        <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                    }
                }
            </select>
        </div>
        <span class="errorMessage" asp-validation-for="TotalPrice"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Toplam Fiyat</span>
            <input type="number" class="form-control" asp-for="TotalPrice" />
        </div>
        <span class="errorMessage" asp-validation-for="OrderDate"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Sipariş Tarihi</span>
            <input textmode="date" class="form-control" asp-for="OrderDate" />
        </div>
        <span class="errorMessage" asp-validation-for="SupplierId"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Tedarikçi</span>
            <select class="form-select " asp-for="SupplierId" class="form-control">
                @foreach (var item in ViewBag.Suppliers as IEnumerable<SupplierModel>)
                {
                    if (item.ApprovalState == Entity.Enum.ApprovalState.Approved)
                    {
                        <option value="@item.Id">@item.CompanyName</option>
                    }
                }
            </select>
        </div>
        <input asp-for="OrderType" hidden value="@Entity.Enum.OrderType.Customer" />
        <button class="btn btn-outline-success" type="submit">Kaydet</button>
    </form>
</div>

