@model IEnumerable<OrderDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}
@if (TempData["Result"] != null)
{
    <span>@TempData["Result"]</span>
    TempData["Result"] = null;
}

<div class="d-flex justify-content-between">
    <span class="mt-2" style="font-family: sans-serif; font-size: 24px">Siparişler</span>
    <div>
        <a class="btn btn-outline-success mt-auto" href="/Entities/Order/Create"><i class="fa-solid fa-circle-plus fa-lg"></i> Sipariş Ekle</a>
    </div>
</div>
<hr />
<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Sipariş Tarihi</th>
                <th>Bayii Adı</th>
                <th>Çalışan Adı</th>
                <th>Toplam Fiyat</th>
                <th>Tedarikçi Adı</th>
                <th>Seçenekler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model as IEnumerable<OrderDto>)
            {
                if (item.OrderType == Entity.Enum.OrderType.Customer)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.OrderDate.ToString("f")</td>
                        <td>@item.DealerName</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.TotalPrice</td>
                        <td>@item.SupplierName</td>
                        <td>
                            <a class="btn btn-outline-info" href="/Entities/Order/Update/@item.Id" style=" margin-right: 8px"><i class="fa-regular fa-rectangle-list fa-lg"></i> Sipariş Detayları</a>
                            <a class="btn btn-outline-warning" href="/Entities/Order/Update/@item.Id" style=" margin-right: 8px"><i class="fa-solid fa-repeat fa-lg"></i> Güncelle</a>
                            <a onclick="confirmDelete('/Entities/Order/Delete/@item.Id')" class="btn btn-outline-danger"><i class="fa-solid fa-trash fa-lg"></i> Sil</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

