@model List<EmployeeVacationDTO>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}
@if (TempData["Result"] != null)
{
	<span>@TempData["Result"]</span>
	TempData["Result"] = null;
}


<div class="d-flex justify-content-between">
	<span class="mt-2" style="font-family: sans-serif; font-size: 24px">Çalışan İzinleri</span>
	<a class="btn btn-outline-success mt-auto" href="/Entities/EmployeeVacation/CreateEmployeeVacation"><i class="fa-solid fa-circle-plus fa-lg"></i>  İzin Ekle</a>
</div>
<hr />
<div>


	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Çalışan Adı</th>
				<th>Durum</th>
				<th>Başlangıç Tarihi</th>
				<th>Bitiş Tarihi</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model as IEnumerable<EmployeeVacationDTO>)
			{
				//todo BU IF SORGUSU JAVASCRIPTIN SORUMLULUĞUDUR BACKENDİN DEĞİL, DEĞİŞTİRİLEBİLİR
				@if (!item.IsApproved)
				{
					<tr style="color:red">
						<td>@item.Id</td>
						<td>@item.EmployeeName</td>
						<td>Onaylanmamış</td>
						<td>@item.VacationStart</td>
						<td>@item.VacationEnd</td>

						<td>
							<a class="btn btn-outline-warning" href="/Entities/EmployeeVacation/UpdateEmployeeVacation/@item.Id" style=" margin-right: 8px"><i class="fa-solid fa-repeat fa-lg"></i> Güncelle</a>
							<a onclick="confirmDelete('/Entities/EmployeeVacation/DeleteEmployeeVacation/@item.Id')" class="btn btn-outline-danger" ><i class="fa-solid fa-trash fa-lg"></i> Sil</a>
						</td>
					</tr>
				}
				else
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.EmployeeName</td>
						<td>Onaylı</td>
						<td>@item.VacationStart</td>
						<td>@item.VacationEnd</td>

						<td>
							<a class="btn btn-outline-warning" href="/Entities/EmployeeVacation/UpdateEmployeeVacation/@item.Id" style=" margin-right: 8px"><i class="fa-solid fa-repeat fa-lg"></i> Güncelle</a>
							<a onclick="confirmDelete('/Entities/EmployeeVacation/DeleteEmployeeVacation/@item.Id')" class="btn btn-outline-danger"><i class="fa-solid fa-trash fa-lg"></i> Sil</a>
						</td>
					</tr>
				}
			}

		</tbody>
	</table>
</div>



